<html>
<head>
    <title>{{t "title"}}</title>
</head>
<body>
<style>
    .text {
        font-family: Arial,serif;
    }
    .center {
        text-align: center;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
    }
    h1 {
        font-size: 6em;
    }
</style>
{{if eq .Status 0}} <!-- running -->
{{if .DetailText}}
<h1 class="text center">{{t "running_status_with_detail_message"}}</h1>
<br><br>
<h3 class="text center">{{.DetailText}}<br><br>{{t "running_detail"}}</h3>
{{else}}
<h1 class="text center">{{t "running_status"}}</h1>
<br><br>
<h3 class="text center">{{t "running_detail"}}</h3>
{{end}}
{{end}}
{{if eq .Status 1}} <!-- not running -->
<h1 class="text center">{{t "not_running_status"}}</h1>
<br><br>
<h3 class="text center">{{.DetailText}}<br><br>{{t "not_running_detail"}}</h3>
{{end}}
{{if eq .Status 2}} <!-- closing time -->
<h1 class="text center">{{t "closing_time_status"}}</h1>
<br><br>
<h3 class="text center">{{t "closing_time_detail"}}</h3>
{{end}}
{{if eq .Status 3}} <!-- no information -->
<h1 class="text center">{{t "no_information_status"}}</h1>
<br><br>
<h3 class="text center">{{t "no_information_detail"}}</h3>
{{end}}
<br><br><br><br><br>
<div class="text center">
    Last Update: {{.Time}}<br>
    Made with ❤️ as <a href="https://github.com/StevenKGER/s85.berlin">Open Source Software</a> with data from <a href="https://transport.rest/">transport.rest</a>
</div>
</body>
</html>